/* Importation locale de Josefin Sans */
@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/font/josefin_sans/JosefinSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona+One&display=swap");

@import "tailwindcss";

:root {
  --font-primary: "Josefin Sans", sans-serif; /* Police de votre choix */
  --font-secondary: "Poppins", sans-serif; /* Police de votre choix */
  --font-tertiary: "Petrona One", cursive; /* Police de votre choix */

  --font-size-3xs: 0.625rem; /* 8px */

  --color-primary: #185871; /* Bleu principal (extrait de votre CSS)*/
  --color-primary-dark: #124354; /* Bleu sombre (extrait de votre CSS)*/
  --color-primary-light: #e0f2f7; /* Bleu clair (extrait de votre CSS)*/
  --color-secondary: #1919c3; /* Bleu secondaire (extrait de votre CSS)*/
  --color-tertiary: #3c9a66; /* Vert pour les boutons */
  --color-accent-light: #c8ac87; /* Marron clair pour le hover et active menu */
  --color-accent: #9b7956; /* Marron pour les hover boutons */
  --color-whiteGray: #ebebeb; /* Gris clair */
  --color-blueLight: #edfcfe; /* Bleu clair */
  --color-whiteAmber: #fff8e1; /* Jaune clair */
  --color-whiteStone: #f8fafc; /* bg-stone-50 */
  --color-whiteStoneDark: #f1f5f9; /* bg-stone-200 */

  /* screen sizes */
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

@layer base {
  h1 {
    font-family: var(--font-primary);
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extralight text-white uppercase tracking-widest;
  }
  h2 {
    font-family: var(--font-primary);
    @apply text-xl md:text-5xl tracking-widest uppercase font-thin mb-16;
  }

  h3 {
    font-family: var(--font-secondary);
    @apply text-sm sm:text-2xl md:text-3xl font-medium tracking-widest uppercase;
  }

  p {
    font-family: var(--font-secondary);

    @apply text-xs sm:text-base md:text-xl tracking-wider;
  }
  blockquote {
    @apply sm:text-sm md:text-xl tracking-wider;
  }
}

@media (0px <= width <= 390px) {
  blockquote {
    font-size: var(--font-size-3xs);
  }
}

@media (390px <= width <= 430px) {
  h2 {
    @apply font-bold;
  }
  h3 {
    @apply text-xl h-12;
  }
  p {
    @apply mt-12 text-base;
  }
  blockquote {
    @apply text-xs h-16;
  }
}

/* color des icons svg */
.icon-color {
  fill: currentColor;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}
