@import "tailwindcss";

@theme {
  --font-primary: 'Josefin Sans', sans-serif; /* Police de votre choix */
  --font-secondary: 'Poppins', sans-serif; /* Police de votre choix */

  --color-primary:#185871; /* Bleu principal (extrait de votre CSS)*/
  --color-secondary: #1919c3; /* Bleu secondaire (extrait de votre CSS)*/
  --color-tertiary: #3c9a66; /* Vert pour les boutons */
  --color-accent: #9b7956; /* Marron pour les hover */
  --color-whiteGray: #ebebeb; /* Gris clair */
  --color-blueLight: #Edfcfe; /* Bleu clair */
  --color-whiteAmber: #fff8e1; /* Jaune clair */
  --color-whiteStone: #f8fafc; /* bg-stone-50 */

  /* screen sizes */
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

