@import "tailwindcss";

@theme {
  --font-primary: 'Josefin Sans', sans-serif; /* Police de votre choix */
  --font-secondary: 'Poppins', sans-serif; /* Police de votre choix */

  --color-primary:#185871; /* Bleu principal (extrait de votre CSS)*/
  --color-secondary: #f9fafa; /* Gris clair*/
  --color-accent: #9b7956; /* Marron pour les hover */

  /* screen sizes */
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

